


.bigBox {
    display:flex;
    flex-direction: column;
    margin: 0px;
}

.box {
    display:flex;
}
.header {
    justify-content: space-around;
    align-items: center;
    gap:425px;
    font-size: 30px;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.topList{
    color:lightslategray;
    justify-content: space-around;
    font-size: 20px;
    gap: 20px;
}

.smallBox{
    background-color: lightskyblue;
    flex-direction: column;
}

.dogBox{
    align-items: center;
    justify-content: space-around;
    margin: 0 200px 0 200px;
}

.dogText {
    flex-direction: column;
}


.dimensionsDog{
    flex: 0 2 100px;
}

.signButton {
    padding: 10px;
    border-radius: 555px;
    background-color: red;
    color: purple;
    font-weight:bolder;
    width: fit-content;
}

.bottomSign {

}
